@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.carousel .control-dots .dot {
  border-radius: 0% !important;
  width: 16px !important;
  height: 2px !important;
  background-color: black !important;
  opacity: 0.2 !important;
  box-shadow: none !important;
}

.carousel .control-dots {
  bottom: -8px !important;
}

.carousel .control-dots .dot.selected {
  background: black !important;
  opacity: 1 !important;
}

.carousel.carousel-slider {
  overflow: visible !important;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  
  -webkit-transform:rotate(-16deg);
  -moz-transform:rotate(-16deg);
  -ms-transform:rotate(-16deg);
  -o-transform:rotate(-16deg);
  transform:rotate(-16deg);
}